APScheduler==3.11.2
bcrypt==5.0.0
Flask==3.1.2
flask-cors==6.0.2
Flask-Limiter==4.1.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
python-dotenv==1.2.2
SQLAlchemy==2.0.48
Werkzeug==3.1.5
Jinja2==3.1.6
requests==2.32.5
pandas==3.0.1
openpyxl==3.1.5
reportlab==4.4.10
Pillow==12.1.1
PyJWT==2.12.1
cryptography==46.0.5
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
PyYAML==6.0.3
xlsxwriter==3.2.9
gunicorn==21.2.0
PyMySQL==1.1.1
PyMySQL==1.1.1
